In [1]:
from bs4 import BeautifulSoup
import requests
import smtplib
import time
import datetime

In [20]:
URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}
 
page = requests.get(URL)

soup1 = BeautifulSoup(page.content, "html.parser")
    
soup2 = BeautifulSoup(soup1.prettify(), "html.parser")    
    
title = soup2.find(id = 'productTitle').get_text()

# price = soup2.find(id = 'a-price aok-align-center reinventPricePriceToPayMargin priceToPay').get_text()
price_symbol = soup2.find(class_='a-price-symbol').get_text(strip=True)
price_whole = soup2.find(class_='a-price-whole').get_text(strip=True)
price_fraction = soup2.find(class_='a-price-fraction').get_text(strip=True)
price = f'{price_symbol}{price_whole}{price_fraction}'
print(title)
print(price)

                   Funny Got Data MIS Data Systems Business Analyst T-Shirt

$19.99

In [21]:
price = price.strip()[1:]
title = title.strip()
print(title)
print(price)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
19.99

In [22]:
type(price)

str

In [25]:
date = datetime.date.today()

In [26]:
import csv

header = ['Title','Price','Date']
data = [title,price,date]

with open('AmazonWebScraperDataset.csv', 'w', newline='', encoding="UTF8") as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [27]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Bex\AmazonWebScraperDataset.csv")

df

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  19.99  2024-09-17

In [32]:
with open('AmazonWebScraperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [29]:
def check_price():
    URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}
 
    page = requests.get(URL)

    soup1 = BeautifulSoup(page.content, "html.parser")

    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

    title = soup2.find(id='productTitle').get_text()

    price_symbol = soup2.find(class_='a-price-symbol').get_text(strip=True)
    price_whole = soup2.find(class_='a-price-whole').get_text(strip=True)
    price_fraction = soup2.find(class_='a-price-fraction').get_text(strip=True)
    price = f'{price_symbol}{price_whole}{price_fraction}'

    price = price.strip()[1:]
    title = title.strip()

    import datetime

    today = datetime.date.today()
    
    import csv 

    header = ['Title', 'Price', 'Date']
    data = [title, price, today]

    with open('AmazonWebScraperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [35]:
while(True):
    check_price()
    time.sleep(10)

KeyboardInterrupt:

In [36]:
df = pd.read_csv(r"C:\Users\Bex\AmazonWebScraperDataset.csv")

df

                                                Title  Price        Date
0   Funny Got Data MIS Data Systems Business Analy...  19.99  2024-09-17
1   Funny Got Data MIS Data Systems Business Analy...  19.99  2024-09-17
2   Funny Got Data MIS Data Systems Business Analy...  19.99  2024-09-17
3   Funny Got Data MIS Data Systems Business Analy...  19.99  2024-09-17
4   Funny Got Data MIS Data Systems Business Analy...  19.99  2024-09-17
5   Funny Got Data MIS Data Systems Business Analy...  19.99  2024-09-17
6   Funny Got Data MIS Data Systems Business Analy...  19.99  2024-09-17
7   Funny Got Data MIS Data Systems Business Analy...  19.99  2024-09-17
8   Funny Got Data MIS Data Systems Business Analy...  19.99  2024-09-17
9   Funny Got Data MIS Data Systems Business Analy...  19.99  2024-09-17
10  Funny Got Data MIS Data Systems Business Analy...  19.99  2024-09-17